# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules
coverage/

# --------------------
# SASS Files
# --------------------
.sass-cache/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# App Files
# --------------------
.tmp/
logs/
dist/
e2e/dist
*.bak
credentials.json
e2e/src/.pki
e2e/src/supervisord.log
.npmrc

# --------------------
# Text editor files
# --------------------
*.sublime-project
*.sublime-workspace

# Typing #
/src/typings/tsd/
/typings/
/tsd_typings/

# Dist #
/dist
/public/__build__/
/src/*/__build__/
/__build__/**
/public/dist/
/src/*/dist/
/dist/**
/.awcache
.webpack.json

# Doc #
/docs/
docs

# IDE #
.idea/
*.swp

tokens.env
secrets.tgz
.vscode
firebase-debug.log
.setup.sh
e2e/reports
cypress/videos
reports
artifacts
workflows-angular
